<nav class="navbar">
  <div class="nav-container">

    <a routerLink="/" class="nav-logo">
  <img src="./assets/images/Logo-technocratie.png" alt="Technocratie" class="logo-img" />
  <span class="logo-nom">TECHNOCRATIE</span>
</a>

    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Collection</a></li>
      @if (!client) {
        <li><a routerLink="/connexion" routerLinkActive="active">Connexion</a></li>
      }
      @if (client) {
        <li class="nav-client">
          <span class="client-nom">👤 {{ client.prenom }}</span>
          <button class="btn-deconnexion" (click)="seDeconnecter()">Déconnexion</button>
        </li>
      }
    </ul>

    <a routerLink="/panier" class="nav-panier">
      <span class="panier-icon">🛒</span>
      <span class="panier-count">{{ panierService.getNombreItems() }}</span>
    </a>

  </div>
</nav>